<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title>
            {% if title %}
                {{title}} | Project Name
            {% else %}
                Project Name
            {% endif %}
        </title>

        <!-- Custom styles for this template-->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

        {% block css %}{% endblock %}
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            {% include 'master/navbar.html' %}

            <!-- Content Wrapper -->
            <div class="container" id="content-wrapper">

                <!-- Main Content -->
                <div class="mt-2 py-3" id="content">

                    <!-- Begin Page Content -->
                    <div class="">

                        <!-- NoScript section -->
                        <noscript>
                            <div class="alert alert-danger text-center" role="alert">
                                <p>
                                    Warning : JavaScript is disabled !
                                </p>
                            </div>
                        </noscript>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}

                        {% block content %}{% endblock %}

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- JavaScript and dependencies -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

        {% block js %}{% endblock %}
    </body>

</html>
